<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TakeWord</title>
</head>
<body>
<form action="" method="post">
    <p>
        <label for="message">Введите ссылку на страницу с документацией:</label>
        <input type="url" name="message">

        <p>
        <input type="submit">
        </p>
    </p>
</form>
<br />
<sub>Например:</sub>
<input type="text" value="https://pypi.org/project/Flask/" id="myInput">
<button onclick="myFunction()">Скопировать</button>
<hr align="left" width="350" size="4" color="#ff9900" />
<marquee behavior="alternate" direction="right">Создание словаря займет несколько секунд.</marquee>

<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  document.execCommand("copy");
  alert("Скопирован текст: " + copyText.value);
}
</script>
</body>
</html>

